@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Bruno Ace SC', cursive; */
}
.nav__link{
  color:'black'
}
